<div class="container">
  <div class="card_container">
    <ion-card color="success">
      <ion-card-header>
        <ion-card-title>Quantity</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>{{ quantity }}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>Items</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>{{ item }}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card color="warning">
      <ion-card-header>
        <ion-card-title>Costs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>&#8369; {{ costs }}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Highest Price</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>&#8369; {{ max }}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Lowest Price</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>&#8369; {{ min }}</h1>
      </ion-card-content>
    </ion-card>
  </div>
</div>
