<div class="container">
  <div class="content">
    <div class="img-box">
      <img src="../../assets/logo.png" alt="logo" />
    </div>
    <div class="about">
      <h3 class="title">Batangas State Univeristy</h3>
      <h5 class="title">PROCUREMENT OFFICE</h5>
      <p class="text">
        The Procurement Office provides quality procurement services, aiding the
        University in fulfilling its mission and vision. It is tasked to select
        the best external providers and achieve the best over-all value for
        money. As such, it develops procurement strategies to aid the University
        in meeting its objectives. Additionally, it disseminates information on
        existing agreements and guidance on procurement procedures including
        legal obligations of the clientele. It also assists customers to work
        together to purchase from a filtered number of contracted external
        providers in order to create savings and eradicate needless costs; and
        cultivate improved external provider responsiveness and performance.
      </p>
      <p class="text">
        As a department, it exhibits its indispensable role in the University by
        attending as a catalyst in providing the necessary help and advice on
        all aspects of goods or services procurement relative to the smooth day
        to day operations of the University as an academic institution. It is
        the unit responsible for the acquisition and the disbursement of funds
        for all goods and services for the University.
      </p>
    </div>
    <img src="../../assets/Alangilan-entrance-facade.jpg" alt="" />
  </div>
</div>
